{%load static%}
<!DOCTYPE html>
<html>
<head>
	<title>To DO list</title>
	<script type="text/javascript" src="{%static 'jquery' %}"></script>
	<link rel="stylesheet" type="text/css" href="{%static 'todolist.css' %}">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>
<body>
<div id="container">
	<h1>TO-DO-LIST
	<i class="far fa-plus-square"></i>
	</h1>
	<form action="/addtodo/" method="post">
		{%csrf_token%}
		<input type="text" placeholder="    Add New ToDo" name="content">
		<!--<input type="submit" value="add">-->
	</form>
	<ul>
		{%for item in items%}
			<form action="/deletetodo/{{item.id}}/" method="post">
				{%csrf_token%}
				<li><span><button style="background:#e74c3c;border:none;padding:0;transition: 2s linear;height: 40px;width:40px;outline:none;">
					<i class="far fa-trash-alt"></i>
				</button>
				</span> {{item.content}}
			</form>
			</li>
			<script>
					$("span").on("click",function(){
					$(this).parent().fadeOut(2000,function(){
						$(this).remove();
						})
					})
				</script>
		{%endfor%}
	</ul>
	<script>
		$("body").on("keypress","input",function(event){
			if(event.which===13)
				{
					$(this).form.submit()
				}
		})

	</script>

</div>
<script type="text/javascript" src="{%static 'todolist.js' %}"></script>

</body>
</html>