body{
	background: #E6DADA;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#container{
	width:250px;
	margin-left:40%;
	margin-top: 10%;
	margin-right:40%;
	box-shadow: 0 0 3px rgba(0,0,0,0.1)
}
h1{
	margin: 0;
	background-color: #2980b9;
	color: white;
	font-weight: normal;
	font-size: 25px;
	padding: 10px;
	padding-left: 15px;
}
span{
	background: #e74c3c;
	color: white;
	height: 40px;
	width: 0px;
	margin-right: 10px;
	text-align: center;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

li:hover span{
	width:40px;
	height: 40px;
	opacity: 1.0;

}li:hover button{
	width:40px;
	height: 40px;
	opacity: 1.0;

}
.fa-plus-square{
	float:right;
}
input{
	font-size: 15px;
	width: 100%;
	box-sizing: border-box;
	color: #2980b9;
	line-height: 35px;
	border:1px solid rgba(0,0,0,0);
}
input:focus{
	background-color: #fff;
	border:3px solid #2980b9;
	outline: none;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
li{
	background:lightgray;
	font-size: 16px;
	height: 40px;
	color:black;
	line-height: 40px;
}
li:nth-of-type(2n){
	background:none;
}
.completed{
	text-decoration:line-through;
	color:red;
}